/* General Body */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7fc;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

/* Container for the form */
.login-container, .register-container {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
  max-width: 400px;
}

/* Title */
h2 {
  font-size: 1.5rem;
  color: #4a4a4a;
  margin-bottom: 20px;
  text-align: center;
}

h3 {
  text-align: center;
}

input {
  align-self: center;
}

/* Form Inputs */
input[type="email"], input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

/* Button Styling */
button {
  width: 100%;
  padding: 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

/* Error message */
.error {
  color: #e74c3c;
  font-size: 0.9rem;
  text-align: center;
}

/* Link for registration */
p {
  text-align: center;
  font-size: 1rem;
}

p .link {
  color: #3498db;
  cursor: pointer;
  text-decoration: underline;
}

p .link:hover {
  color: #2980b9;
}

/* Horizontal line */
hr {
  margin: 20px 0;
  border: 1px solid #ddd;
}

/* Google Login Button */
button.google-btn {
  background-color: #4285F4;
  border: none;
  color: white;
  margin-top: 10px;
}

button.google-btn:hover {
  background-color: #357ae8;
}

.form-group {
  display: grid;
  margin: 0 10%;
  justify-items: center;
}

.form-group div {
  display: grid;
  justify-items: center;
}

.form-group textarea {
  width: 100%
}

.form-group input {
  width: 100%
}

.form-group div {
  width: 100%
}

.form-group div textarea {
  width: 100%
}

.form-group div input {
  width: 100%
}

